.container {
    width: 90%;
    height: 100vh;
    margin: auto;
    margin-top: -65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#text-welcome {
    font-size: 110px;
    font-weight: bold;
    text-align: center;
    color: #402E32;
    font-family: 'Overpass', sans-serif;
}

#text-info {
    font-size: 40px;
    font-weight: 300;
    text-align: center;
    color: #402E32;
    font-family: 'Overpass', sans-serif;
}

#button-wrapper {
    display: flex;
    justify-content: space-between;
    width: 600px;
}

#button-wrapper .input-button {
    width: 280px;
    height: 50px;
    font-size: 26px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 40px;
    box-shadow: rgba(255, 255, 255, .15) 0 4px 7px;
    border-radius: 20px;
}

#button-wrapper #login {
    border: none;
    background-color: #C9A38D;
    color: #FFF6EA;
}

#button-wrapper #login:hover {
    background-color: #9a7b6a;
    transition: 0.3s;
}

#button-wrapper #register {
    border: 3px solid #C9A38D;
    background-color: transparent;
    color: #C9A38D;
}

#button-wrapper #register:hover {
    background-color: #f9e3d4;
    transition: 0.3s;
}

/*above 1200px (xlarge)*/
@media (max-width: 1200px) {
    #text-welcome {
        font-size: 92px;
    }
    
    #text-info {
        font-size: 32px;
    }
    
    #button-wrapper {
        width: 480px;
    }

    #button-wrapper .input-button {
        width: 220px;
        height: 46px;
        font-size: 24px;
    }
}

/*above 1024px (large)*/
@media (max-width: 1024px) {
    #text-welcome {
        font-size: 70px;
    }
    
    #text-info {
        font-size: 25px;
    }
    
    #button-wrapper {
        width: 380px;
    }

    #button-wrapper .input-button {
        width: 180px;
        height: 40px;
        font-size: 22px;
    }
}

/*above 768px (medium)*/
@media (max-width: 768px) {
    #text-welcome {
        font-size: 58px;
    }
    
    #text-info {
        font-size: 22px;
    }
    
    #button-wrapper {
        width: 340px;
    }

    #button-wrapper .input-button {
        width: 160px;
        height: 35px;
        font-size: 18px;
    }
}

/*above 640px (small)*/
@media (max-width: 640px) {
    #text-welcome {
        font-size: 44px;
    }
    
    #text-info {
        font-size: 18px;
    }
    
    #button-wrapper {
        width: 260px;
    }

    #button-wrapper .input-button {
        width: 120px;
        height: 30px;
        font-size: 14px;
    }
}

/*above 475px (xsmall)*/
@media (max-width: 475px) {
    #text-welcome {
        font-size: 40px;
    }
    
    #text-info {
        margin-top: 10px;
        font-size: 17px;
    }
    
    #button-wrapper {
        flex-direction: column;
        justify-content: center;
        width: 220px;
        height: 140px;
        margin-top: 10px;
    }

    #button-wrapper .input-button {
        width: 220px;
        height: 40px;
        font-size: 14px;
        margin-top: 15px;
    }
}