.cart-wrapper {
    position: fixed;
    z-index: 1;
    top: 65px;
    width: 300px;
    height: 100vh;
    border-left: 2px solid rgb(106, 89, 79, 0.3);
    background-color: #efe4de; 
    color: #402E32;
    transition: all .3s;
}

/*Back Arrow*/
.cart-wrapper #back {
    color: #675256;
    font-size: 22px;
    margin-top: 20px;
    margin-left: 5%;
    cursor: pointer;
}

.cart-wrapper #back:hover {
    color: #84767b;
}


/*Body*/
.cart-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-body #cart-title {
    font-size: 40px;
    font-weight: 600;
    margin-top: 30px;
}

.cart-body #product-list-title {
    font-size: 20px;
    margin-top:30px
}

.cart-body .products {
    flex-wrap: wrap;
    overflow-y: scroll;
    box-sizing:border-box;
    width: 90%;
    max-height: 40vh;
    border-radius: 5px;
    margin-top: 10px;
}

.cart-body hr {
    width: 90%;
    height: 1px;
    margin-top: 10px;
    border: none;
    background-color: #402E32;
}

.cart-body #total-price {
    width: 90%;
    margin-top: 10px;
    font-size: 18px;
}

.cart-body #cart-confirm-button {
    margin-top: 30px;
    width: 80%;
    height: 50px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    background-color: #D67244;
    color: white;
    box-shadow: #969696 0px 4px 5px;
    cursor: pointer;
}

.cart-body #cart-confirm-button:hover {
    background-color: #e78a60;
    scale: 1.02;
}

.cart-body #cart-confirm-button:active {
    background-color: #ff5e00;
    transition: 0.2s;
}


/*above 640px (small)*/
@media (max-width: 640px) {
    .cart-wrapper {
        width: 100%;
    }
}