.change-pass-background {
    position: fixed;
    top:0;
    left:0;
    width: 100%; 
    height: 100vh; /*buraya kadar tüm ekranı kapsattık ki arkaplan gri olsun*/
    background-color: rgba(0, 0, 0, 0.701); /*Arka planı karartır*/

    display: flex;
    align-items: center;
    margin-top: 30px;
}

.change-pass-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 540px;
    padding: 20px 20px;
    background-color: #FFF4EE;
    color:#402E32;
    border: 1px solid rgb(64, 46, 50, 0.3);
    border-radius: 5px;
    box-shadow: #b9b9b9 0px 3px 4px;
    box-sizing: border-box;
}

.change-pass-wrapper .close-change-pass {
    width: 100%;
}

.change-pass-wrapper .close-change-pass i {
    float: right;
    cursor: pointer;
}

.change-pass-wrapper .close-change-pass i:hover {
    color: black;
}

.change-pass-wrapper p {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
}

.change-pass-wrapper .input-group p {
    margin-left: 2px;
    margin-bottom: 3px;
    font-size: 14px;
    font-weight: 500;
}

.change-pass-wrapper .input-group input {
    margin-bottom: 12px;
    width: 310px;
    height: 28px;
    background-color: #ffffff;
    border: 1px solid #402e3293;
    border-radius: 5px;
    box-shadow: #d1d1d1 0px 4px 7px;
    box-sizing: border-box;
    padding-left: 10px;
    font-size: 18px;
}

.change-pass-wrapper .input-group div {
    width: 310px;
    margin-left: 2px;
    margin-top: -8px;
    margin-bottom: 10px;
    color: red;
    font-size: 14px;
}

.change-pass-wrapper .change-pass-save {
    margin-top: 5px;
    margin-bottom: 20px;
    width: 310px;
    height: 30px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: #D67244;
    color: white;
    box-shadow: #969696 0px 4px 5px;
    cursor: pointer;
}

.change-pass-wrapper .change-pass-save:hover {
    background-color: #e78a60;
}

.change-pass-wrapper .change-pass-save:active {
    background-color: #ff5e00;
}


/**-----------------------------------------------RESPONSIVE----------------------------------------------*/

/*above 768px (medium)*/
@media (max-width: 768px) {
    .change-pass-wrapper {
        width: 100%;
    }
    
    .change-pass-wrapper p {
        font-size: 30px;
    }
    
    .change-pass-wrapper .input-group p {
        font-size: 12px;
    }
    
    .change-pass-wrapper .input-group input {
        font-size: 16px;
    }
    
    .change-pass-wrapper .change-pass-save {
        font-size: 18px;
    }
}

/*above 640px (small)*/
@media (max-width: 640px) {
    .change-pass-wrapper p {
        font-size: 26px;
    }
    
    .change-pass-wrapper .input-group {
        width: 80%;
    }

    .change-pass-wrapper .input-group input {
        width: 100%;
    }
    
    .change-pass-wrapper .change-pass-save {
        width: 80%;
    }

    .change-pass-wrapper .input-group div {
        width: 80%;
    }
}