.menu-wrapper {
    display: flex;
    flex-direction: column;
    width: 90%;
    border-radius: 15px;
    box-shadow: rgba(255, 255, 255, .4) 0 5px 8px;
    background-color: rgb(255, 255, 255, 0.88);
    margin-top: 25px;
}

/**-------------------------------------------------MAIN TITLE------------------------------------------------------*/
.menu-wrapper .main-title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-image: linear-gradient(to right, rgb(43, 3, 3), rgb(148, 58, 58));
    box-shadow: rgba(0, 0, 0, .3) 2px 5px 8px;
}

.menu-wrapper .main-title p {
    color: white;
    font-size: 40px;
    font-weight: bold;
}

/**------------------------------------------------MENU SECTIONS------------------------------------------------------*/
.menu-wrapper .menus {
    max-height: 320px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-y: scroll;
    padding-left: 0px;
}

.menu-wrapper .menu-sections {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    margin-top: 20px;
}

/*Category Title*/
.menu-wrapper .menu-sections #menu-title {
    font-size: 30px;
}

/*Items*/
.menu-wrapper .menu-sections .menu-items {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

::-webkit-scrollbar {
    display: none;
}



/**-----------------------------------------------RESPONSIVE----------------------------------------------*/

/*above 1024px (large)*/
@media (max-width: 1024px) {
    .menu-wrapper .main-title p {
        font-size: 38px;
    }
    .menu-wrapper .menu-sections #menu-title {
        font-size: 28px;
    }
}

/*above 768px (medium)*/
@media (max-width: 768px) {
    .menu-wrapper .main-title p {
        font-size: 36px;
    }
    .menu-wrapper .menu-sections #menu-title {
        font-size: 26px;
    }
}

/*above 640px (small)*/
@media (max-width: 640px) {
    .menu-wrapper .main-title p {
        font-size: 32px;
    }
    .menu-wrapper .menu-sections #menu-title {
        font-size: 24px;
    }
}

/*above 475px (xsmall)*/
@media (max-width: 475px) {
    .menu-wrapper .main-title p {
        font-size: 30px;
    }
    .menu-wrapper .menu-sections #menu-title {
        font-size: 22px;
    }
}