#register-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
    width: 700px;
    height: 500px;
    background-color: transparent;
    color: #402E32;
}

/**---------------------------------------------------Title-------------------------------------------------------*/
#register-title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 50px;
    margin-top: -10px;
    font-weight: bold;
    font-style: italic;
}

#register-hr-line {
    width: 400px;
    margin-top: 10px;
}

/**--------------------------------------------------Inputs------------------------------------------------------*/
#register-inputs-wrapper {
    margin-top: 20px;
}

/*general input structure*/
#register-inputs-wrapper .input-template {
    display: flex;
    flex-direction: column;
}

#register-inputs-wrapper .input-label {
    margin-left: 2px;
    margin-bottom: 3px;
    font-size: 18px;
    font-weight: 500;
}

#register-inputs-wrapper .input-text {
    margin-bottom: 8px;
    width: 310px;
    height: 35px;
    border: 1px solid #402E32;
    background-color: #fef2ec;
    border-radius: 10px;
    box-shadow: #d1d1d1 0px 4px 7px;
    padding-left: 10px;
    font-size: 20px;
}

#register-inputs-wrapper .input-text:hover {
    background-color: #eae1dc;
}

#register-inputs-wrapper .input-text:focus {
    outline-color: #241812;
}

/*firstname-lastname*/
#input-full-name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#input-full-name .input-text {
    width: 145px;
    height: 35px;
}


/**-------------------------------------------------------Buttons-----------------------------------------------*/
#register-buttons-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

/*general button structure*/
#register-buttons-wrapper .input-button {
    width: 320px;
    height: 45px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 15px;
    border-radius: 10px;
}

#register-buttons-wrapper #register {
    border:none;
    background-color: #C9A38D;
    box-shadow: #c7b1a5 0 4px 7px;
    color: white;
}

#register-buttons-wrapper #register:hover {
    background-color: #9a7b6a;
}

#register-buttons-wrapper #ihaveaccount {
    box-shadow: none;
    margin-top: -8px;
    border: none;
    background-color: transparent;
    font-size: 18px;
    font-weight: 700;
    color: #C9A38D;
}

#register-buttons-wrapper #ihaveaccount:hover {
    color: #9a7b6a;
}


/**-----------------------------------------------RESPONSIVE----------------------------------------------*/

/*above 1024px (large)*/
@media (max-width: 1024px) {
    #register-wrapper {
        width: 680px;
        height: 480px;
    }

    #register-title {
        font-size: 46px;
    }

    #register-hr-line {
        width: 380px;
    }

    #register-inputs-wrapper .input-label {
        font-size: 16px;
    }
    
    #register-inputs-wrapper .input-text {
        width: 300px;
        height: 32px;
        font-size: 17px;
    }

    #register-inputs-wrapper #input-full-name .input-text {
        width: 140px;
        height: 32px;
    }

    #register-buttons-wrapper .input-button {
        width: 310px;
        height: 40px;
        font-size: 22px;
    }

    #register-buttons-wrapper #ihaveaccount {
        font-size: 16px;
        font-weight: 500;
    }
}

/*above 768px (medium)*/
@media (max-width: 768px) {
    #register-wrapper {
        width: 620px;
        height: 440px;
    }

    #register-title {
        font-size: 36px;
    }

    #register-hr-line {
        width: 340px;
    }

    #register-inputs-wrapper .input-label {
        font-size: 14px;
    }
    
    #register-inputs-wrapper .input-text {
        width: 280px;
        height: 30px;
        font-size: 15px;
    }

    #register-inputs-wrapper #input-full-name .input-text {
        width: 130px;
        height: 30px;
    }

    #register-buttons-wrapper .input-button {
        width: 290px;
        height: 36px;
        font-size: 20px;
    }

    #register-buttons-wrapper #ihaveaccount {
        font-size: 15px;
        font-weight: 500;
    }
}

/*above 640px (small)*/
@media (max-width: 640px) {
    #register-wrapper {
        width: 475px;
        height: 400px;
    }

    #register-title {
        font-size: 30px;
    }

    #register-hr-line {
        width: 280px;
    }

    #register-inputs-wrapper .input-label {
        font-size: 14px;
    }
    
    #register-inputs-wrapper .input-text {
        width: 210px;
        height: 32px;
        font-size: 16px;
    }

    #register-inputs-wrapper #input-full-name {
        display: flex;
        flex-direction: column;
    }

    #register-inputs-wrapper #input-full-name .input-text {
        width: 210px;
        height: 32px;
    }

    #register-buttons-wrapper .input-button {
        width: 220px;
        height: 40px;
        font-size: 20px;
    }

    #register-buttons-wrapper #ihaveaccount {
        font-size: 15px;
        font-weight: 700;
    }
}

/*above 475px (xsmall)*/
@media (max-width: 475px) {
    #register-wrapper {
        width: 100%;
        height: 400px;
    }

    #register-title {
        width: 100%;
        font-size: 34px;
        text-align: center;
    }

    #register-hr-line {
        display: none;
    }

    #register-inputs-wrapper {
        width: 80%;   
    }

    #register-inputs-wrapper .input-label {
        font-size: 14px;
    }
    
    #register-inputs-wrapper .input-text {
        padding-left: 0px;
        width: 100%;
        height: 30px;
        font-size: 15px;
    }

    #register-inputs-wrapper #input-full-name {
        display: flex;
        flex-direction: column;
    }

    #register-inputs-wrapper #input-full-name .input-text {
        width: 100%;
        height: 30px;
    }

    #register-buttons-wrapper {
        width: 80%;
    }

    #register-buttons-wrapper .input-button {
        width: 100%;
        height: 35px;
        font-size: 18px;
    }

    #register-buttons-wrapper #ihaveaccount {
        font-size: 14px;
        font-weight: 500;
    }
}