.add-item-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
}

.add-item-wrapper input {
    width: 200px;
    height: 30px;
    margin-bottom: 5px;
}