.search-restaurant-wrapper {
    width: 45%;
    height: 120px;
    margin-top: 50px;
    background-color: #FFF4EE;
    border: 1px solid rgb(64, 46, 50, 0.3);
    box-shadow: #c3c3c3 0px 8px 8px;
}

.search-restaurant-title-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D67244;
    box-shadow: rgba(99, 99, 99, 0.3) 0px 5px 3px;
    width: 100%;
    height: 40%;
}

.search-restaurant-title-wrapper #search-title {
    font-size: 30px;
    font-weight: bold;
    color: rgb(238, 231, 231);
}

.search-restaurant-wrapper .search-inputs {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 60%;
}

.search-restaurant-wrapper .search-inputs .searchbar-wrapper {
    display: flex;
    align-items: center;
    width: 60%;
    height: 60%;
}

.search-restaurant-wrapper .search-inputs .searchbar-wrapper input{
    border: none;
    background-color: transparent;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: 5px 5px;
    font-size: 20px;
}

.search-restaurant-wrapper .search-inputs .searchbar-wrapper input:focus{
    outline: none;
}

.search-restaurant-wrapper #search-button {
    height: 50%;
    width: 20%;
    font-size: 14px;
    text-align: center;
    box-shadow: rgb(187, 187, 187) 0px 3px 4px;
    background-color: #C9A38D;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.search-restaurant-wrapper #search-button:hover {
    background-color: #d6a284;
}


/**-----------------------------------------------RESPONSIVE----------------------------------------------*/

/*above 1024px (large)*/
@media (max-width: 1024px) {
    .search-restaurant-title-wrapper #search-title {
        font-size: 28px;
    }

    .search-restaurant-wrapper .search-inputs .searchbar-wrapper input {
        font-size: 18px;
    }

    .search-restaurant-wrapper #search-button {
        font-size: 12px;
    }
}

/*above 768px (medium)*/
@media (max-width: 768px) {
    .search-restaurant-title-wrapper #search-title {
        font-size: 25px;
    }

    .search-restaurant-wrapper .search-inputs .searchbar-wrapper input {
        font-size: 16px;
    }

    .search-restaurant-wrapper #search-button {
        font-size: 10px;
    }
}

/*above 640px (small)*/
@media (max-width: 640px) {
    .search-restaurant-wrapper {
        width: 100%;
    }

    .search-restaurant-wrapper #search-button {
        width: 30%;
    }
}