.restaurant-detail-background {
    width: 100%;
    height: calc(100vh - 65px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: scroll;
}

.restaurant-body-layout {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
}
