.alert-wrapper {
    position: absolute;
    z-index: 2;
    top:0;
    left:0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.alert {
    position: fixed;
    top: 90px;
    width: 300px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: white;
    box-sizing: border-box;
    padding: 10px 10px;
    border-radius: 20px;
}