#navbar-wrapper {
    position: sticky;
    z-index: 2;
    top: 0px;
    width: 100%;
    height: 65px;
    box-shadow: #d1d1d1 0px 6px 3px;
    background-color: #FFF4EE;
    color: #C9A38D;
}

#navbar-wrapper #navbar-components {
    width: 90%;
    height: 65px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#navbar-title {
    font-size: 32px;
    margin-bottom: 8px;
    font-weight: bold;
    cursor: pointer;
}

#navbar-title #title {
    font-family: 'Pacifico', cursive;
}
#navbar-title #title:hover {
    color: #ac8066;
}

#navbar-buttons {
    display: flex;
    font-size: 28px;
    cursor: pointer;
}

#navbar-buttons #user {
    margin-right: 15px;
}

#navbar-buttons #user:hover {
    color: #ac8066;
}

#navbar-buttons .cart {
    display: flex;
}

#navbar-buttons .cart:hover {
    color: #ac8066;
}

#navbar-buttons .cart .cart-badge {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 0;
    right: 10px;
    width: 20px;
    height: 20px;
    font-size: 12px;
    border-radius: 50%;
    background-color: #402e32d9;
    color: #FFF6EE;
}

/**------------------------------------------------------RESPONSIVE--------------------------------------------------*/

/*above 1024px (large)*/
@media (max-width: 1024px) {
    #navbar-title {
        font-size: 32px; 
    }

    #navbar-buttons {
        font-size: 26px;
    }
}

/*above 768px (medium)*/
@media (max-width: 768px) {
    #navbar-title {
        font-size: 28px; 
    }

    #navbar-buttons {
        font-size: 22px;
    }

    #navbar-buttons #user {
        margin-right: 12px;
    }

    #navbar-buttons .cart .cart-badge {
        top: -4px;
        right: 10px;
        width: 18px;
        height: 18px;
        font-size: 10px;
    }
}

/*above 640px (small)*/
@media (max-width: 640px) {
    #navbar-title {
        font-size: 20px; 
    }

    #navbar-buttons {
        font-size: 16px;
    }

    #navbar-buttons #user {
        margin-right: 4px;
    }

    #navbar-buttons .cart .cart-badge {
        top: -8px;
        right: 8px;
        width: 18px;
        height: 18px;
        font-size: 10px;
    }
}



/*link style*/
.link {
    display: inherit;
    text-decoration: inherit;
    color: inherit;
}