.account-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 60px;
    width: 640px;
    padding: 20px 20px;
    background-color: #FFF4EE;
    color:#402E32;
    border: 1px solid rgb(64, 46, 50, 0.3);
    box-shadow: #c3c3c3 0px 8px 8px;
    box-sizing: border-box;
}

.account-wrapper p {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
}

.account-wrapper .input-group p {
    margin-left: 2px;
    margin-bottom: 3px;
    font-size: 14px;
    font-weight: 500;
}

.account-wrapper .input-group input {
    margin-bottom: 12px;
    width: 310px;
    height: 28px;
    background-color: #ffffff;
    border: 1px solid #402e3293;
    border-radius: 5px;
    box-shadow: #d1d1d1 0px 4px 7px;
    box-sizing: border-box;
    padding-left: 10px;
    font-size: 18px;
}

.account-wrapper .account-save {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 310px;
    height: 30px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: #D67244;
    color: white;
    box-shadow: #969696 0px 4px 5px;
    cursor: pointer;
}

.account-wrapper .account-save:hover {
    background-color: #e78a60;
}

.account-wrapper .account-save:active {
    background-color: #ff5e00;
}


/**-----------------------------------------------RESPONSIVE----------------------------------------------*/

/*above 768px (medium)*/
@media (max-width: 768px) {
    .account-wrapper {
        width: 100%;
    }
    .account-wrapper p {
        font-size: 30px;
    }
    
    .account-wrapper .input-group p {
        font-size: 12px;
    }
    
    .account-wrapper .input-group input {
        font-size: 16px;
    }
    
    .account-wrapper .account-save {
        font-size: 18px;
    }
}

/*above 640px (small)*/
@media (max-width: 640px) {
    .account-wrapper p {
        font-size: 26px;
    }
    
    .account-wrapper .input-group {
        width: 80%;
    }
    
    .account-wrapper .input-group input {
        width: 100%;
    }
    
    .account-wrapper .account-save {
        width: 80%;
    }
}