.location-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 60px;
    width: 640px;
    padding: 20px 20px;
    background-color: #FFF4EE;
    color:#402E32;
    border: 1px solid rgb(64, 46, 50, 0.3);
    box-shadow: #c3c3c3 0px 8px 8px;
    box-sizing: border-box;
}

.location-wrapper p {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
}

.location-wrapper .locations {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}

.location-wrapper .add-location  {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px 8px;
    font-size: 40px;
    width: 40px;
    height: 100px;
    background-color: #FFF4EE;
    color:#8a8a8a;
    border: 1px solid rgb(64, 46, 50, 0.3);
    box-shadow: #c3c3c3 0px 8px 8px;
    cursor: pointer;
}

.location-wrapper .add-location:hover {
    color:rgb(97, 97, 97)
}


/**-----------------------------------------------RESPONSIVE----------------------------------------------*/

/*above 768px (medium)*/
@media (max-width: 768px) {
    .location-wrapper {
        width: 100%;
    }
    .location-wrapper p {
        font-size: 30px;
    }
}

/*above 640px (small)*/
@media (max-width: 640px) {
    .location-wrapper p {
        font-size: 26px;
    }
}