.layout> .row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    width: 80%;
}

.layout> .row> .col {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}