/**------------------------------------------------------------------STRUCTURE---------------------------------------------------------*/
.restaurant-card-wrapper {
    width: 30%;
    height: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid rgba(55, 15, 23, 0.3);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(196, 196, 196) 0px 5px 4px;
    cursor: pointer;
    text-decoration: none;
    color: #402E32;
    transition: all 0.2s;
}

.restaurant-card-wrapper:hover {
    transition: transform 0.2s;
    transform: scale(1.08);
    border: 2px solid rgba(55, 15, 23, 0.8)
}


/**------------------------------------------------------------------IMAGE---------------------------------------------------------*/
.restaurant-card-wrapper .restaurant-image {
    width: 100%;
    height: 70%;
}

.restaurant-card-wrapper .restaurant-image img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/**----------------------------------------------------------------INFORMATION---------------------------------------------------------*/
.restaurant-card-wrapper .restaurant-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding-left: 8px;
    padding-right: 8px;
    height: 20%;
}

/*title-description (LEFT SIDE)*/
.restaurant-card-wrapper .restaurant-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}

.restaurant-card-wrapper .restaurant-title #restaurant-name {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 5px;
}

.restaurant-card-wrapper .restaurant-title #restaurant-description {
    font-size: 16px;
    color: rgb(51, 51, 51);
}

/*rating (RIGHT SIDE)*/
.restaurant-card-wrapper .restaurant-rating {
    width: 12%;
}

.restaurant-card-wrapper .restaurant-rating #restaurant-rate {
    margin: auto;
    font-size: 18px;
}

/**-----------------------------------------------RESPONSIVE----------------------------------------------*/

/*above 1200px (xlarge)*/
@media (max-width: 1200px) {
    .restaurant-card-wrapper {
        width: 40%;
    }

    .restaurant-card-wrapper:hover {
        transform: scale(1.06);
    }
}

/*above 1024px (large)*/
@media (max-width: 1024px) {
    .restaurant-card-wrapper {
        width: 45%;
    }

    .restaurant-card-wrapper:hover {
        transform: scale(1.05);
    }

    .restaurant-card-wrapper .restaurant-title #restaurant-name {
        font-size: 24px;
        font-weight: bold;
    }

    .restaurant-card-wrapper .restaurant-title #restaurant-description {
        font-size: 14px;
    }

    .restaurant-card-wrapper .restaurant-rating #restaurant-rate {
        font-size: 17px;
    }
}

/*above 768px (medium)*/
@media (max-width: 768px) {
    .restaurant-card-wrapper {
        width: 45%;
    }

    .restaurant-card-wrapper:hover {
        transform: scale(1.04);
    }

    .restaurant-card-wrapper .restaurant-title #restaurant-name {
        font-size: 22px;
        font-weight: bold;
    }

    .restaurant-card-wrapper .restaurant-title #restaurant-description {
        font-size: 14px;
    }

    .restaurant-card-wrapper .restaurant-rating #restaurant-rate {
        font-size: 16px;
    }
}

/*above 640px (small)*/
@media (max-width: 640px) {
    .restaurant-card-wrapper {
        width: 80%;
    }

    .restaurant-card-wrapper:hover {
        transform: scale(1.06);
    }

    .restaurant-card-wrapper .restaurant-title #restaurant-name {
        font-size: 24px;
        font-weight: bold;
    }

    .restaurant-card-wrapper .restaurant-title #restaurant-description {
        font-size: 16px;
    }

    .restaurant-card-wrapper .restaurant-rating #restaurant-rate {
        font-size: 17px;
    }
}

/*above 475px (xsmall)*/
@media (max-width: 475px) {
    .restaurant-card-wrapper {
        width: 90%;
    }

    .restaurant-card-wrapper:hover {
        transform: scale(1.05);
    }

    .restaurant-card-wrapper .restaurant-title #restaurant-name {
        font-size: 22px;
        font-weight: bold;
    }

    .restaurant-card-wrapper .restaurant-title #restaurant-description {
        font-size: 15px;
    }

    .restaurant-card-wrapper .restaurant-rating #restaurant-rate {
        font-size: 16px;
    }
}